.modal-content{
    padding: 30px;
}

.modal-dialog {
    max-width: 900px;
    width: 95%;
    max-height: 95vh;
    padding: 0;
    margin: auto;
  }

  ::ng-deep .p-inputtext {
    width: 578px !important;
    color: #6c757d;
    display: inline-flex;
    align-items: center;
    height: 58px !important;
}