<div class="modal" 
    [class.modal--show]="open">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar cadastro de aluno</h5>
                <a 
                type="button" 
                class="btn-close" 
                (click)="close()">
                        <!-- <span aria-hidden="true">&times;</span> -->
                </a>
            </div>
            <div class="modal-body">
                <form #form="ngForm">
                   
                    <div class="column">
                        <div class="form-container mb-4">
                            <div class="campo-container">
                                <div class="row">
                                    <div class="form-group col-md-4 col-12">
                                        <label for="nome">Nome do aluno:
                                             <span class="text-danger">*</span></label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="nome" 
                                            name="nome" 
                                            #nome="ngModel"
                                            [(ngModel)]="object.nome" 
                                            pattern="\S(.*\S)?"
                                            (change)="object.nome = nome.value.trim()"
                                            required minlength="3" 
                                            maxlength="30">
                                        <div *ngIf="nome.touched && nome.errors">
                                            <p class="text-danger" *ngIf="nome.errors['required']">
                                                Esse campo é obrigatório.
                                            </p>
                                            <p class="text-danger" *ngIf="nome.errors['pattern']">
                                                Não insira espaços em branco antes ou no final do campo
                                            </p>
                                            <p class="text-danger">{{erro}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        
                                        <label for="idade">Data de nascimento: 
                                            <span class="text-danger">*</span></label>
                                        <input 
                                            type="text"  
                                            class="form-control" 
                                            id="dataNascimento"  
                                            name="dataNascimento"
                                            #dataNascimento="ngModel"
                                            [(ngModel)]="object.dataNascimento" 
                                            placeholder=" ex: 00/00/0000"
                                            mask="00/00/0000"
                                            required 
                                            minlength="12"
                                            maxlength="12">
                                            <div *ngIf="dataNascimento.touched && dataNascimento.errors">
                                            <p class="text-danger" *ngIf="dataNascimento.errors['required']">
                                                Esse campo é obrigatório
                                            </p>
                                            <p class="text-danger">{{erro}}</p>
                                            </div>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        <label for="sexo_Id">Gênero:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-dropdown 
                                            class="dropdown" 
                                            [options]="generos" 
                                            [(ngModel)]="object.sexo_Id" 
                                            name="sexo"
                                            placeholder="Selecione o gênero">
                                        </p-dropdown>
                                    </div>  
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4 col-12">
                                        <label for="turma_Id">Turma:</label>
                                        <p-dropdown 
                                            class="dropdown" 
                                            [options]="" 
                                            [(ngModel)]="object.turma_Id" 
                                            name="diaTurma"
                                            placeholder="Selecione a Turma">
                                        </p-dropdown>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        <!-- <p>{{perfil_Id.value}}</p>
                                        <p>{{object.perfil_Id}}</p> -->
                                        <label for="perfil_Id">Perfil:</label>
                                        <p-dropdown 
                                        class="dropdown" 
                                        [options]="perfis" 
                                        [(ngModel)]="object.perfil_Id" 
                                        #perfil_Id="ngModel"
                                        optionLabel="nome"
                                        optionValue="id"
                                        name="perfil_Id"
                                        id="perfil_Id"
                                        placeholder="Selecione o Perfil do Aluno">
                                    </p-dropdown>
                                     </div>
                                     <div class="form-group col-md-4 col-12">
                                        <label for="data_Vigencia_Inicial">Matrícula:  
                                            <span class="text-danger">*</span></label>
                                        <p-dropdown 
                                            class="dropdown"
                                            [options]="vigencia" 
                                            [(ngModel)]="object.data_Vigencia_Inicial" 
                                            name="data_Vigencia_Inicial"
                                            placeholder="Informe o status da matrícula">
                                        </p-dropdown>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        <label for="data_Vigencia_Final">Matrícula:  
                                            <span class="text-danger">*</span></label>
                                        <p-dropdown 
                                            class="dropdown"
                                            [options]="vigencia" 
                                            [(ngModel)]="object.data_Vigencia_Final" 
                                            name="data_Vigencia_Inicial"
                                            placeholder="Informe o status da matrícula">
                                        </p-dropdown>
                                    </div>
                                  
                                </div>
                                  
                            
                                
                               
                                <div class="modal-footer">
                                    <button 
                                        type="button"
                                        class="btn-cancel" 
                                        (click)="close()"
                                        [disabled]="loading">Cancelar
                                    </button>
                                    <button 
                                        type="button"
                                        class="btn-save" 
                                        data-dismiss="modal" 
                                        (click)="send()"
                                        [disabled]="loading">Salvar
                                     </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
