
<p-tabView class="aulas">
    <p-tabPanel header="Lançamento de Aulas">
        <div class="card table-responsive">
            <p-table 
                #dt
                class="table"
                [value]="list"
                sortField=""
                dataKey="id"
                styleClass="p-datatable-striped"
                [tableStyle]="{'min-width': '50rem'}"
                [paginator]="true" 
                [rows]="5" 
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} páginas"
                [filterDelay]="0"
                [globalFilterFields]="['id','nome', 'apostila', 'pagina', 'falta', 'reposicao']">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <!-- Button para realizar cadastros na Tabela -->
                        <div>
                            <a  class="btn-primary" [routerLink]="['cadastrar']">Cadastrar</a>
                        </div>
                        <!-- Button para limpar filtros aplicados na Tabela -->
                        <div class="p-2">
                            <button class="btn-clear" (click)="clear(dt)">
                                <span class="me-2">Limpar filtros</span>
                                <i class="pi pi-filter-slash"></i>
                            </button>
                            <!-- Input para palavras-chave dados da Tabela -->
                            <span class="p-2 p-input-icon-right">
                                <i class="pi pi-search"></i>
                                <input class="generalInput"  pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Digite a Palavra-Chave" />
                            </span>
                        </div>
                    </div>
               </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th pSortableColumn="nome" class="nome">
                            Nome
                            <p-columnFilter type="text" field="nome" display="menu"></p-columnFilter>
                            <p-sortIcon field="nome"></p-sortIcon> </th> 
                        <th pSortableColumn="apostila" class="apostila">
                            Apostila
                            <p-columnFilter type="text" field="apostila" display="menu"></p-columnFilter>
                            <p-sortIcon field="apostila"></p-sortIcon> </th>
                        <th pSortableColumn="pagina" class="pagina">
                            Quantidade de Páginas
                            <p-columnFilter type="text" field="pagina" display="menu"></p-columnFilter>
                            <p-sortIcon field="pagina"></p-sortIcon></th>  
                        <th pSortableColumn="falta" class="falta">
                            Falta
                            <p-columnFilter type="text" field="falta" display="menu"></p-columnFilter>
                            <p-sortIcon field="falta"></p-sortIcon></th>   
                        <th pSortableColumn="reposicao" class="reposicao">
                            Reposição
                            <p-columnFilter type="text" field="reposicao" display="menu"></p-columnFilter>
                            <p-sortIcon field="reposicao"></p-sortIcon></th>   
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.nome}}</td>
                        <td>
                            
                                    <label class="p-float-label">Apostilas <span class="text-danger">*</span></label>
                                   
                                        <p-dropdown 
                                                [style]="{'width':'100%'}"
                                                [options]="apostilas"
                                                #apostila="ngModel"
                                                [(ngModel)]="item.apostila"
                                                optionLabel="nome"
                                                optionValue="id"
                                                [placeholder]="'Selecione'"
                                                [disabled]="loadingApostilas"
                                                name="apostila_id"
                                                id="apostila_id"
                                                [filterFields]="['nome']"
                                                [showClear]="false"
                                                [required]="true">
                                                (ngModelChange)="apostilaChanged($event, item)"
                                        <ng-template pTemplate="footer">
                                            <div class="py-2 px-3 border-top bg-light"> Não encontrou? Clique para <a class="link text-info" [routerLink]="['cadastrar']">adicionar</a>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                  
                           
                            
    
                       
                        <!-- <td>
                            <p-dropdown 
                            formControlName="selectedCity" 
                            [options]="item.apostilas" 
                            optionLabel="apostila" 
                            placeholder="Select a City"></p-dropdown></td> -->
                        <td>{{item.pagina}}</td>
                        <td>
                            <p-toggleButton 
                                    class="btn-falta" 
                                    [(ngModel)]="item.falta"
                                    onLabel="Presente" 
                                    offLabel="Ausente">
                            </p-toggleButton>
                            
                        </td>
                        <td>
                            <p-toggleButton 
                            class="btn-reposicao" 
                            [(ngModel)]="item.reposicao"
                            onLabel="Sim" 
                            offLabel="Não">
                    </p-toggleButton>
                        <td></td>
                        <td></td>
                        <td>
                            <a class="btn btn-edit me-2" [routerLink]="['editar',item.id ]">Editar</a>
                            <a class="btn btn-delete" [routerLink]="['excluir', item.id]">Excluir</a>
                        </td>
                         
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>
</p-tabView>

<router-outlet></router-outlet>