
<div class="px-0 mb-3">
    <h3 class="account-title mb-0">Login</h3>
    <p class="account-text mb-0">Insira seu e-mail e senha para continuar.</p>
</div>

<form #form="ngForm" (ngSubmit)="send()">
    <div class="form-row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
            <div class="form-floating">
                <input 
                    pInputText 
                    id="username"
                    name="email" 
                    type="text" 
                    class="form-control" 
                    placeholder="E-mail"
                    #email="ngModel"
                    [(ngModel)]="login.email"/>
                    <label for="password">
                        <span>E-mail <span class="text-danger">*</span>
                        </span>
                    </label>
                    <div *ngIf="email.touched && email.errors">
                        <p class="text-danger" *ngIf="email.errors['required']">
                            Esse campo é obrigatório.
                        </p>
                        <p class="text-danger" *ngIf="email.errors['pattern']">
                            Não insira espaços em branco antes ou no final do campo
                        </p>
                        <p class="text-danger">{{erro}}</p>
                    </div>
            </div>
        </div>
    </div>
   
    <div class="form-row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-floating">
                <input 
                pInputText 
                id="password"
                name="password"
                [type]="showHide.value ? 'password' : 'text'"
                #password="ngModel"
                class="form-control" 
                placeholder="Senha"
                [(ngModel)]="login.password"/>
                <label for="password">
                    <span>Senha <span class="text-danger">*</span>
                    </span>
                </label>
                <div *ngIf="password.touched && password.errors">
                    <p class="text-danger" *ngIf="password.errors['required']">
                        Esse campo é obrigatório.
                    </p>
                    <p class="text-danger" *ngIf="password.errors['pattern']">
                        Não insira espaços em branco antes ou no final do campo
                    </p>
                    <p class="text-danger">{{erro}}</p>
                </div>
            </div>
        </div>
          
    </div>
     
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                <div class="d-flex align-items-center">
                    <input type="checkbox"
                           name="showHide"
                           id="showHide"
                           #showHide="ngModel"
                           ngModel
                           [value]="true">
                    <label for="showHide" class="ml-2">
                        <span *ngIf="showHide.value">Exibir</span>
                        <span *ngIf="!showHide.value">Esconder</span> senha </label>
                </div>
            </div>
            <div class="text-center text-wrap-balance col-12 px-0">
                <p class="text-danger mb-2" *ngIf="erro">{{erro}}</p>
                <p class="text-center col-12 mb-3"> Ao logar você concorda com os <a class="link" routerLink="./termos-de-uso">termos de uso</a> do Ped4u.</p>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                    <button type="submit" class="btn-register" type="button" [disabled]="form.invalid || loading" (click)="send()">Entrar</button>
                  
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <a class="link" [routerLink]="['..', 'register']">Me cadastrar</a>
                </div>
                <div class="text-right col-lg-6 col-md-6 col-sm-6 col-12">
                    <a class="link" [routerLink]="['..', 'forgot-password']">Esqueci minha senha</a>
                </div>
            </div>
        </div>
        
   
  

</form>
<router-outlet></router-outlet>


