<p-tabView class="Usuarios">
    <p-tabPanel class="page__header" header="Usuários">
        <div class="ms-auto">
            <button class="btn btn-dark" (click)="getList()" [disabled]="loading"><span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>Atualizar</button>
        </div>
        <div class="card table-responsive">
            <p-table 
                #dt
                class="table"
                [value]="list"
                sortField=""
                dataKey="id"
                styleClass="p-datatable-striped"
                [tableStyle]="{'min-width': '50rem'}"
                [paginator]="true" 
                [rows]="5" 
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} páginas"
                [filterDelay]="0"
                [globalFilterFields]="['']">
                <ng-template #topActions>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-2 me-md-2 mx-md-1 px-0 ng-star-inserted">
                        <a class="btn btn-primary d-flex align-items-center align-baseline justify-content-center me-md-0 me-sm-1" [routerLink]="['cadastrar']">
                            <span style="margin-top: -1px; margin-bottom: 1px;"> Cadastrar Usuário</span>
                        </a>
                    </div>
                </ng-template>



<!-- <section class="page">
    <div class="page__header">
        <span class="title-icon align-items-center">
          <fa-icon [icon]="faUsers"></fa-icon>
        </span>
        <div class="me-auto">
            <h3 class="page__header-title">Usuários</h3>
        </div>
      
    </div>
    <div class="page__body">
       

    </div>
</section> -->
<router-outlet></router-outlet>