<div class="modal" 
    [class.modal--show]="open">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Aluno</h5>
                <a 
                type="button" 
                class="btn-close" 
                (click)="close()">
                        <!-- <span aria-hidden="true">&times;</span> -->
                </a>
            </div>
            <div class="modal-body">
                <form #form="ngForm">
                    <div class="d-flex mb-3">
                        <button type="reset" class="btn-clear">Limpar Campos</button>
                    </div>
                    <div class="column">
                        <div class="form-container mb-4">
                            <div class="campo-container">
                                <div class="row">
                                    <div class="form-group col-md-4 col-12">
                                        <label for="nome">Nome do aluno:
                                             <span class="text-danger">*</span></label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="nome" 
                                            name="nome" 
                                            #nome="ngModel"
                                            [(ngModel)]="object.nome" 
                                            pattern="\S(.*\S)?"
                                            (change)="object.nome = nome.value.trim()"
                                            required minlength="3" 
                                            maxlength="30">
                                        <div *ngIf="nome.touched && nome.errors">
                                            <p class="text-danger" *ngIf="nome.errors['required']">
                                                Esse campo é obrigatório.
                                            </p>
                                            <p class="text-danger" *ngIf="nome.errors['pattern']">
                                                Não insira espaços em branco antes ou no final do campo
                                            </p>
                                            <p class="text-danger">{{erro}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        
                                        <label for="idade">Data de nascimento: 
                                            <span class="text-danger">*</span></label>
                                        <input 
                                            type="text"  
                                            class="form-control" 
                                            id="idade"  
                                            name="idade"
                                            #idade="ngModel"
                                            [(ngModel)]="object.idade" 
                                            placeholder=" ex: 00/00/0000"
                                            mask="00/00/0000"
                                            required 
                                            minlength="12"
                                            maxlength="12">
                                            <div *ngIf="idade.touched && idade.errors">
                                            <p class="text-danger" *ngIf="idade.errors['required']">
                                                Esse campo é obrigatório
                                            </p>
                                            <p class="text-danger">{{erro}}</p>
                                            </div>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        <label for="genero">Gênero:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-dropdown 
                                            class="dropdown" 
                                            [options]="generos" 
                                            [(ngModel)]="object.genero" 
                                            name="vigencia"
                                            placeholder="Selecione o gênero">
                                        </p-dropdown>
                                    </div>  
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4 col-12">
                                        <label for="diaTurma">Turma:</label>
                                        <p-dropdown 
                                            class="dropdown" 
                                            [options]="" 
                                            [(ngModel)]="object.diaTurma" 
                                            name="diaTurma"
                                            placeholder="Selecione a Turma">
                                        </p-dropdown>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        <label for="perfilAluno">Perfil:</label>
                                        <p-dropdown 
                                        class="dropdown" 
                                        [options]="perfis" 
                                        [(ngModel)]="perfil.nome" 
                                        optionLabel="nome"
                                        name="perfilAluno"
                                        placeholder="Selecione o Perfil do Aluno">
                                    </p-dropdown>
                                     </div>
                                     <div class="form-group col-md-4 col-12">
                                        <label for="dataVigencia"> Status Matrícula:  
                                            <span class="text-danger">*</span></label>
                                        <p-dropdown 
                                            class="dropdown"
                                            [options]="vigencia" 
                                            [(ngModel)]="object.dataVigencia" 
                                            name="vigencia"
                                            placeholder="Informe o status da matrícula">
                                        </p-dropdown>
                                    </div>
                                </div>
                                  
                            
                                
                               
                                <div class="modal-footer">
                                    <button 
                                        type="button"
                                        class="btn-cancel" 
                                        (click)="close()"
                                        [disabled]="loading">Cancelar
                                    </button>
                                    <button 
                                        type="button"
                                        class="btn-save" 
                                        data-dismiss="modal" 
                                        (click)="save()"
                                        [disabled]="loading">Salvar
                                     </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
