<div class="header">
    <div class="menu_header">
        <div class="button_header">
            <p-menu #menu [model]="items" [popup]="true"></p-menu>
            <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-angle-down" label="Cadastros Gerais"></button>
        </div>
        <div class="button_header">
            <button [routerLink]="['aulas']" routerLinkActive="active" pButton type="button"  label="Lançar Aula">
            </button>
        </div>
        <div class="button_header">
            <button [routerLink]="['reposicao']" routerLinkActive="active" pButton type="button"  label="Gerenciar Reposições">
            </button>
            
        </div>
        <div class="button_header">
            <button class="btn-header" type="button" [routerLink]="['account']" routerLinkActive="active">Fazer Login</button>
        </div>
    </div>
   
</div>