:root {
    --primary: #ff6315;
    --primary-highlight: #8c47dc;
    --secondary: #fff;
    --secondary-highlight: #F94184 ;
    --grey: #181818;
    --grey-highlight: #5a5c60;
}

#panelMenu{
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #ffff;
    z-index: 1;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menu_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0 50px;
}


.btn-header{
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5%;
    background: linear-gradient(311deg, #8c47dc 0%, #F94184 35%, #ff6315 100%);
}

:root {
    --color-white: #fff;
    --color-dark1: #001844;
}

a {
    font-family: sans-serif;
    font-size: 14pt;
    text-align: center;
    padding: 1px 2px;
    text-decoration: none;
    margin: auto;
    position: relative;
    color:  #ff6315;
    transition: all .3s linear;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: #495057;
    font-size: 12pt;
}

a:hover {
    color: #8c47dc;
}

a.active {
    color: #ff6315;
}

li {
    list-style: none;
    display: inline-block;
}

ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    width:100%;
}

/* nav {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.p-button {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.p-button {
    color: #ff6315;
    background: none;
    border: none;
    padding: 0.75rem 1.25rem;
    font-size: 14pt;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}

.p-component, .p-component * {
    box-sizing: border-box;
}

button {
    font-size: 11pt;
    font-family: inherit;
    font-feature-settings: inherit;
}

.p-button:enabled:hover {
    background: #F94184;
    color: #ffffff;
}

::ng-deep .ui-menu {
    padding: 0.75rem 1.25rem;
}

ul .menu_header{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    width: 100%;
}

.p-tabview-ink-bar{
    text-decoration: none;
}

.p-tabview .p-tabview-nav {
    background: #ffffff;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

::ng-deep .btn-logout {
    color: var(--primary);
    cursor: pointer;
}

.header_loggedIn{
    display: flex;
    flex-direction: column;
}

.button_header{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    cursor: pointer;
  }

.header_loggedIn{
    color: #ff6315;
}

p-menubarsub{
    width: 100%;
}