:root {
  --primary: #ff6315;
  --primary-highlight: #8c47dc;
  --secondary: #fff;
  --secondary-highlight: #F94184 ;
  --grey: #181818;
  --grey-highlight: #5a5c60;
}
.container-header {
  background-color: var(--primary);
  color: white;
  padding: 8px 30px;
  font-weight: normal;
  letter-spacing: 1.50px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12pt;
}

.campo-container {
  padding: 10px 30px;
}

.form-container {
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.164);
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}

.container-header {
background-color: var(--grey-highlight);
color: white;
padding: 8px 30px;
font-weight: normal;
letter-spacing: 1.50px;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 0;
font-size: 12pt;
font-family: sans-serif;
}

.campo-container {
padding: 10px 30px;
}

.modal-dialog {
max-width: 1600px;
width: 95%;
max-height: 95vh;
padding: 0;
margin: auto;
}

h5 {
font-family: sans-serif;
font-size: 14pt;
color: #ff6315;
margin-top: 10px;
}

.modal-body{
background-color: #fff;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: solid #dee2e6;
  border-width: 0 0 2px 0;
  border-color: transparent transparent #dee2e6 transparent;
  background: #ffffff;
  color: #181818;
  padding: 1.25rem;
  font-weight: 700;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: box-shadow 0.2s;
  margin: 0 0 -2px 0;
  display: flex;
  flex-direction: row;
}

.p-tabview-nav-link span {
  display: flex;
  flex-direction: row;
  font-size: 15pt;
  margin-left: 20px;
  background: #ffffff;
  border-color: #343a40;
  color: #181818;

}
.p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  padding: 20px 4px;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: #343a40;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
  font-size: 11pt;
}



.flex {
  display: flex!important;
  justify-content: space-between;
}

.p-button.p-button-outlined {
  background-color: transparent;
  color: #181818;
  border: 1px solid;
  text-decoration: none;
  font-weight: 700;
}

td {
  text-align: center;
  vertical-align: middle;
}

.p-tabview .p-tabview-nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

.p-checkbox .p-checkbox-box {
  border: 2px solid #ced4da;
  background: #ffffff;
  width: 22px;
  height: 22px;
  color: #495057;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.less-rounded span.p-tag.p-tag-rounded { 
  border-radius: 25px; 
  
} 

.btn-reposicao > .p-tag{
  width: 50%;
}

.link {
  color: var(--primary);
  font-size: 12pt;
  transition: all .3s linear;
}

:host ::ng-deep .p-togglebutton{
  width: 100%
}

:host ::ng-deep .p-tabview .p-tabview-panels{
  padding: 0;
}


:host ::ng-deep .p-button{
  padding: 0;
  border: 1px solid #ced4da;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

:host ::ng-deep .p-togglebutton{
  border: none;
  border-radius: 5px;
}

:host ::ng-deep .p-inputtext{
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host ::ng-deep .p-datepicker {
  padding: 1.3rem;
  background: #ffffff;
  color: #4b5563;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 10pt;
}

:host ::ng-deep .p-datatable-thead{
  padding: 5px;
}

:host ::ng-deep .p-datepicker table tr > span{
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  transition: box-shadow 0.2s;
  border: 1px solid transparent;
}


:host ::ng-deep .p-datepicker table td > span {
  width: 30px;
  height: 25px;
  margin: 0.5rem 0;
  font-size: 0.8rem;
  align-items: center;
  border-radius: 50%;
  transition: box-shadow 0.2s;
  border: 1px solid transparent;
}

:host ::ng-deep .p-datepicker table td.p-datepicker-today > span.p-highlight {
  color: #fff;
  background: var(--primary);
}

:host ::ng-deep .p-datepicker table td > span.p-highlight {
  color: #fff;
  background: var(--primary);
}

:host ::ng-deep .p-datepicker table thead {
  margin-top: 10px;
}


@import url('../../../../assets/css/buttons/buttons.css');
@import url('../../../../assets/css/p-dropdown/p-dropdown.css');





