<div class="modal" [class.modal--show]="open">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Turma</h5>
                <a 
                    type="button" 
                    class="btn-close" 
                    (click)="close()">
                </a>
            </div>
            <div class="modal-body">
                <form #form="ngForm">
                    <div class="d-flex mb-3">
                        <button 
                            type="reset" 
                            class="btn-clear">Limpar Campos</button>
                    </div>
                    <div class="column">
                        <div class="form-container mb-4">
                            <div class="campo-container">
                                <div class="row">
                                    <div class="form-group col-md-4 col-12">
                                        <label for="diaSemana">Dia da Semana:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-dropdown 
                                            class="dropdown" 
                                            [options]="diaSemana" 
                                            [(ngModel)]="object.diaSemana"
                                            name="perfil" 
                                            placeholder="Selecione o dia da semana">
                                        </p-dropdown>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        <label for="horarioTurma"> Horário:
                                            <span class="text-danger">*</span></label>
                                        <input 
                                            type="time" 
                                            class="form-control" 
                                            id="horario" 
                                            name="horario"
                                            #horario="ngModel" 
                                            [(ngModel)]="object.horario"
                                            pattern="\S(.*\S)?"
                                            (change)="object.horario = horario.value.trim()" 
                                            required
                                            minlength="3" 
                                            maxlength="30">
                                        <div *ngIf="horario.touched && horario.errors">
                                            <p class="text-danger" *ngIf="horario.errors['required']">
                                                Esse campo é obrigatório.
                                            </p>
                                            <p class="text-danger" *ngIf="horario.errors['pattern']">
                                                Não insira espaços em branco antes ou no final do campo
                                            </p>
                                            <p class="text-danger">{{erro}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-12">

                                        <label for="qtdeMaxAluno">Capacidade de Alunos:
                                            <span class="text-danger">*</span></label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="qtdeMaxAluno" 
                                            name="qtdeMaxAluno"
                                            #qtdeMaxAluno="ngModel" 
                                            [(ngModel)]="object.qtdeMaxAluno" 
                                            placeholder=" ex: 12"
                                            required>
                                        <div *ngIf="qtdeMaxAluno.touched && qtdeMaxAluno.errors">
                                            <p class="text-danger" *ngIf="qtdeMaxAluno.errors['required']">
                                                Esse campo é obrigatório
                                            </p>
                                           
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        <label for="perfis">Perfil:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-multiSelect 
                                            class="dropdown" 
                                            [options]="perfis" 
                                            name="perfis"
                                            optionValue="nome"
                                            optionLabel="nome"
                                            [(ngModel)]="selectedPerfis"
                                            placeholder="Selecione o perfil da turma">
                                        </p-multiSelect>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        <label for="nomeEducador">Educador:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-dropdown 
                                            class="dropdown" 
                                            optionValue="id"
                                            optionLabel="nome"
                                            [options]="educadores"
                                            [(ngModel)]="object.educador_Id"
                                            name="nomeEducador" 
                                            placeholder="Selecione o educador">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button 
                                        type="button" 
                                        class="btn-cancel" 
                                        (click)="close()"
                                        [disabled]="loading">
                                        Cancelar
                                    </button>
                                    <button 
                                        type="button" 
                                        class="btn-save" 
                                        data-dismiss="modal" 
                                        (click)="save()"
                                        [disabled]="loading">
                                        Salvar
                                    </button>
                                    <p class="text-danger">{{erro}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>