<div class="modal" [class.modal--show]="open">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Turma</h5>
                <a 
                    type="button" 
                    class="btn-close" 
                    (click)="close()">
                </a>
            </div>
            <div class="modal-body">
                <form #form="ngForm">
                    
                    <div class="column">
                        <div class="form-container mb-4">
                            <div class="campo-container">
                                <div class="row">
                                    <div class="form-group col-md-6 col-12">
                                        <label for="perfis">Perfil:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-multiSelect 
                                            class="dropdown" 
                                            [options]="perfis" 
                                            name="perfis"
                                            optionLabel="nome"
                                            optionValue="id"
                                            [(ngModel)]="selectedPerfis"
                                            placeholder="Selecione o perfil da turma">
                                        </p-multiSelect>
                                    </div>
                                    <div class="form-group col-md-6 col-12">
                                        <label for="diaSemana">Dia da Semana:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-dropdown 
                                            class="dropdown" 
                                            optionLabel="nome"
                                            [options]="diaSemana" 
                                            [(ngModel)]="selectedDiaSemana"
                                            name="diaSemana" 
                                            placeholder="Selecione o dia da semana">
                                            
                                                <ng-template pTemplate="selectedItem">
                                                    <div>
                                                        <div>{{selectedDiaSemana?.nome}}</div>
                                                    </div>
                                                </ng-template>
                                                <ng-template let-dropdownvalues pTemplate="item">
                                                    <div>
                                                        <div>{{dropdownvalues.nome}}</div>
                                                    </div>
                                                </ng-template>
                                        </p-dropdown>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        <label for="horarioTurma"> Horário:
                                            <span class="text-danger">*</span></label>
                                        <input 
                                            type="time" 
                                            class="form-control" 
                                            id="horario" 
                                            name="horario"
                                            #horario="ngModel" 
                                            [(ngModel)]="selectHorario"
                                            pattern="\S(.*\S)?"
                                            (change)="selectHorario = horario.value" 
                                            required
                                            minlength="3" 
                                            maxlength="30">
                                        <div *ngIf="horario.touched && horario.errors">
                                            <p class="text-danger" *ngIf="horario.errors['required']">
                                                Esse campo é obrigatório.
                                            </p>
                                            <p class="text-danger" *ngIf="horario.errors['pattern']">
                                                Não insira espaços em branco antes ou no final do campo
                                            </p>
                                            <p class="text-danger">{{erro}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-12">

                                        <label for="qtdeMaxAlunos">Capacidade de Alunos:
                                            <span class="text-danger">*</span></label>
                                        <input 
                                            type="number" 
                                            mask="00"
                                            pattern="[0-9]"
                                            class="form-control" 
                                            id="qtdeMaxAlunos" 
                                            name="qtdeMaxAlunos"
                                            #qtdeMaxAlunos="ngModel" 
                                            [(ngModel)]="object.qtdeMaxAlunos" 
                                            placeholder=" ex: 12"
                                            required>
                                        <div *ngIf="qtdeMaxAlunos.touched && qtdeMaxAlunos.errors">
                                            <p class="text-danger" *ngIf="qtdeMaxAlunos.errors['required']">
                                                Esse campo é obrigatório
                                            </p>
                                           
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-md-4 col-12">
                                        <label for="nomeEducador">Educador:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-dropdown 
                                            class="dropdown" 
                                            optionLabel="nome"
                                            [options]="educadores"
                                            [(ngModel)]="selectedEducadores"
                                            name="nomeEducador" 
                                            placeholder="Selecione o educador">
                                            <ng-template pTemplate="selectedItem">
                                                <div>
                                                    <div>{{selectedEducadores?.nome}}</div>
                                                </div>
                                            </ng-template>
                                            <ng-template let-dropdownvalues pTemplate="item">
                                                <div>
                                                    <div>{{dropdownvalues.nome}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                   <div class="me-auto  bd-highlight">
                                    <button 
                                            type="reset" 
                                            class="btn-clear">Limpar Campos</button>
                                   </div>
                                        
                                  
                                    <button 
                                        type="button" 
                                        class="btn-cancel" 
                                        (click)="close()"
                                        [disabled]="loading">
                                        Cancelar
                                    </button>
                                    <button 
                                        type="button" 
                                        class="btn-save" 
                                        data-dismiss="modal" 
                                        (click)="save()"
                                        [disabled]="loading">
                                        Salvar
                                    </button>
                                    <p class="text-danger">{{erro}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>