<div class="modal" [class.modal--show]="open">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="btn-close" (click)="close()">
                </a>
            </div>
            <div class="modal-body">
                <form #form="ngForm">
                    <div class="column">
                        <div class="form-container mb-4">

<p-tabView class="aulas">
    <p-tabPanel header="Lançamento de Aulas">
        <div class="card table-responsive">
            <p-table 
                #dt
                class="table"
                [value]="list"
                sortField=""
                dataKey="id"
                styleClass="p-datatable-striped"
                [tableStyle]="{'min-width': '50rem'}"
                [paginator]="true" 
                [rows]="5" 
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} páginas"
                [filterDelay]="0"
                [globalFilterFields]="['id','horario', 'diaSemana', 'capacidadeAlunos', 'vagasRestantes', 'educadorNome']">
                <ng-template pTemplate="caption">
                        <div>
                            <a  class="btn-primary" [routerLink]="['cadastrar-aula']">Cadastrar</a>
                        </div>
               </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                       
                        <th pSortableColumn="id" class="id">
                            Id
                            <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                            <p-sortIcon field="id"></p-sortIcon> </th> 
                        <th pSortableColumn="horario" class="horario">
                            Data
                            <p-columnFilter type="text" field="horario" display="menu"></p-columnFilter>
                            <p-sortIcon field="horario"></p-sortIcon> </th> 
                        <th pSortableColumn="diaSemana" class="diaSemana">
                            Realizada
                            <p-columnFilter type="text" field="diaSemana" display="menu"></p-columnFilter>
                            <p-sortIcon field="diaSemana"></p-sortIcon></th> 
                       
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.data}}</td>                 
                        <td>{{item.realizada}}
                        <td></td>
                        <td>
                            <a class="btn btn-edit me-2" [routerLink]="['cadastrar-aula']">Lançar</a>
                         
                        </td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>
</p-tabView>
                            <!-- <div class="campo-container">
                                <div class="row">
                                    <div class="form-group col-md-4 col-12">
                                        <label for="pessoaNome">Educador:
                                            <span class="text-danger">*</span></label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="pessoaNome" 
                                            name="pessoaNome" 
                                            #pessoaNome="ngModel"
                                            [(ngModel)]="object.pessoaNome" 
                                            pattern="\S(.*\S)?"
                                            (change)="object.pessoaNome = pessoaNome.value.trim()" 
                                            required 
                                            minlength="3"
                                            maxlength="30">
                                        <div *ngIf="pessoaNome.touched && pessoaNome.errors">
                                            <p class="text-danger" *ngIf="pessoaNome.errors['required']">
                                                Esse campo é obrigatório.
                                            </p>
                                            <p class="text-danger" *ngIf="pessoaNome.errors['pattern']">
                                                Não insira espaços em branco antes ou no final do campo
                                            </p>
                                            <p class="text-danger">{{erro}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        <label for="idade">Apostila:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="apostila" 
                                            name="apostila"
                                            #apostila="ngModel" 
                                            [(ngModel)]="object.apostilaNome"
                                            placeholder=" ex: Básico 1" 
                                            required>
                                        <div *ngIf="apostila.touched && apostila.errors">
                                            <p class="text-danger" *ngIf="apostila.errors['required']">
                                                Esse campo é obrigatório
                                            </p>
                                            <p class="text-danger">{{erro}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-12">
                                        <label for="paginaAtual">Página:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-inputNumber 
                                            [(ngModel)]="object.paginaAtual" 
                                            name="paginaAtual"
                                            [showButtons]="true"
                                            buttonLayout="horizontal" 
                                            spinnerMode="horizontal" 
                                            inputId="horizontal"
                                            decrementButtonClass="p-button-secondary"
                                            incrementButtonClass="p-button-secondary" 
                                            incrementButtonIcon="pi pi-plus"
                                            decrementButtonIcon="pi pi-minus">
                                        </p-inputNumber>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3 col-12">
                                        <label for="falta">Falta:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-toggleButton 
                                            class="btn-falta" 
                                            name="falta"
                                            [(ngModel)]="object.falta" 
                                            onLabel="Presente"
                                            offLabel="Ausente">
                                        </p-toggleButton>
                                    </div>
                                    <div class="form-group col-md-3 col-12">
                                        <label for="reposicao">Reposição:
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-toggleButton 
                                            class="btn-reposicao" 
                                            name="reposicao"
                                            [(ngModel)]="object.reposicao"
                                            onLabel="Sim" 
                                            offLabel="Não">
                                        </p-toggleButton>
                                    </div>
                                </div>


                            </div> -->




                          
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>