<div class="modal" 
    [class.modal--show]="open">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Apostila</h5>
                <a type="button" class="btn-close" (click)="close()">
                        <!-- <span aria-hidden="true">&times;</span> -->
                </a>
            </div>
            <div class="modal-body">
                <form #form="ngForm">
                    <div class="d-flex mb-3">
                        <button type="reset" class="btn-clear">Limpar Dados</button>
                    </div>
                    <div class="column">
                        <div class="form-container mb-4">
                            <div class="campo-container">
                                <div class="row">
                                    <div class="form-group col-md-6 col-12">
                                        <label for="nome">Título da apostila:
                                             <span class="text-danger">*</span></label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="nome" 
                                            name="nome" 
                                            #nome="ngModel"
                                            [(ngModel)]="abaco.nome" 
                                            required minlength="5" 
                                            maxlength="30">
                                        <div *ngIf="nome.touched && nome.errors">
                                            <p class="text-danger" *ngIf="nome.errors['required']">
                                                Esse campo é obrigatório.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-12">
                                        <label for="paginas">Quantidade de páginas:
                                            <span class="text-danger">*</span></label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="paginas"  
                                            name="paginas"
                                            #paginas="ngModel"
                                            [(ngModel)]="abaco.paginas" 
                                            required 
                                            minlength="1"
                                            maxlength="4">
                                        <div *ngIf="paginas.touched && paginas.errors">
                                            <p class="text-danger" *ngIf="paginas.errors['required']">
                                                Esse campo é obrigatório
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-12">
                                            <label for="material">Material Extra:</label>
                                            <input 
                                                type="checkbox" 
                                                class="me-2"
                                                id="material"
                                                name="material"
                                                #material="ngModel" 
                                                [(ngModel)]="abaco.material">
                                            <div *ngIf="material.touched && material.errors">
                                                <p class="text-danger" *ngIf="material.errors['required']">
                                                    Esse campo é obrigatório
                                                </p>
                                            </div>
                                        </div>
                                </div>

                                <div class="modal-footer">
                                    <button 
                                        type="button" class="btn-cancel" (click)="close()">Cancelar
                                    </button>
                                    <button 
                                        type="button" class="btn-save" data-dismiss="modal">Salvar
                                     </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>