:root {
    --primary: #ff6315;
    --primary-highlight: #8c47dc;
    --secondary: #fff;
    --secondary-highlight: #F94184 ;
    --grey: #181818;
    --grey-highlight: #5a5c60;
}

.container-header {
    background-color: var(--primary);
    color: white;
    padding: 8px 30px;
    font-weight: normal;
    letter-spacing: 1.50px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12pt;
}
.campo-container {
    padding: 10px 30px;
}
.form-container {
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.164);
}
/* .progress-spinner {
    position: fixed;
    z-index: 99999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    stroke: #3B82F6 !important;
    
} */

/* Transparent Overlay */
/* .progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.53);
} */

:host ::ng-deep .color-spinner .p-progress-spinner-circle { 
  animation: color 8s ease-in-out infinite; 
} 

@keyframes color { 
  0% { 
    stroke: #3B82F6; 
  } 
  50% { 
    stroke: #3B82F6; 
  } 
  80% { 
    stroke: #3B82F6; 
  } 

  100% { 
    stroke: #3B82F6; 
  } 
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}