<div class="modal" [class.modal--show]="open">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Apostila</h5>
                <a type="button" class="btn-close" (click)="close()">
                    <!-- <span aria-hidden="true">&times;</span> -->
                </a>
            </div>
            <div class="modal-body">
                <form #form="ngForm" (ngSubmit)="send()">
                    <!-- <div class="d-flex mb-3">
                        <button type="reset" class="btn-clear">Limpar Dados</button>
                    </div> -->
                    <div class="column">
                        <div class="form-container mb-4">
                            <div class="campo-container">
                                <div class="row">
                                    <div class="form-group col-md-6 col-12">
                                        <label for="nome">Título da apostila:
                                            <span class="text-danger">*</span></label>
                                        <input 
                                        type="text" 
                                        class="form-control" 
                                        id="nome" 
                                        name="nome" 
                                        #nome="ngModel"
                                        [(ngModel)]="object.nome"
                                        pattern="\S(.*\S)?"
                                        (change)="object.nome = nome.value.trim()" 
                                        required
                                         minlength="5" 
                                        maxlength="30">
                                        <div *ngIf="nome.touched && nome.errors">
                                            <p class="text-danger" *ngIf="nome.errors['required']">
                                                Esse campo é obrigatório.
                                            </p>
                                            <p class="text-danger" *ngIf="nome.errors['pattern']">
                                                Não insira espaços em branco antes ou no final do campo
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-12">
                                        <label for="qtdePaginas">Quantidade de páginas:
                                            <span class="text-danger">*</span></label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="qtdePaginas" 
                                            name="qtdePaginas"
                                            #qtdePaginas="ngModel" 
                                            [(ngModel)]="object.qtdePaginas"
                                            pattern="\S(.*\S)?"
                                            mask="0*" 
                                            required
                                            minlength="1" 
                                            maxlength="4">
                                        <div *ngIf="qtdePaginas.touched && qtdePaginas.errors">
                                            <p class="text-danger" *ngIf="qtdePaginas.errors['required']">
                                                Esse campo é obrigatório
                                            </p>
                                            <p class="text-danger" *ngIf="qtdePaginas.errors['pattern']">
                                                Não insira espaços em branco antes ou no final do campo
                                            </p>
                                            <p class="text-danger">{{erro}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-12">
                                            <label for="materialExtra">Material Extra:</label>
                                            <input 
                                                type="checkbox" 
                                                class="me-2" 
                                                id="materialExtra" 
                                                name="materialExtra"
                                                #materialExtra="ngModel" 
                                                [(ngModel)]="object.materialExtra">
                                                <div *ngIf="materialExtra.touched && materialExtra.errors">
                                                    <p class="text-danger" *ngIf="materialExtra.errors['required']">
                                                        Esse campo é obrigatório
                                                    </p>
                                                </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn-cancel" (click)="close()">Cancelar
                                        </button>
                                        <button type="submit" class="btn-save"
                                            [disabled]="form.invalid || loading">Salvar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>