/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "~bootstrap/dist/css/bootstrap.css";

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #ff6315;
    --primary-highlight: #8c47dc;
    --secondary: #fff;
    --secondary-highlight: #F94184 ;
    --grey: #181818;
    --grey-highlight: #5a5c60;
}

.p-tabview-nav-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #0000001c;
  width: 98%;
  margin: 0 auto 10px;
}

.p-tabview-nav-link span {
    font-size: 18pt;
    margin-left: 20px;
    background: #ffffff;
    border-color: #181818;
    color: var(--primary);
}

a:hover { 
  text-decoration: none; 
} 

/* .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: solid #dee2e6;
    border-width: 0 0 2px 0;
    border-color: transparent transparent #dee2e6 transparent;
    background: #ffffff;
    color: #ff6315;
    padding: 1.25rem;
    font-weight: 700;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    transition: box-shadow 0.2s;
    margin: 0 0 -2px 0;
} */

.p-datatable .p-datatable-thead > tr > th,
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: var(--grey-highlight)!important;
    color: #fff!important;
}

.p-column-filter-menu-button,
.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #fff!important;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: #495057;
    font-size: 12pt;
    padding: 5px;
}

ul .p-tabview .p-tabview-nav-content  {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
}

.p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #f1f1f1;
    border-width: 0 0 1px 0;
    padding: 1rem;
}

.p-datatable-striped .p-datatable-tbody > tr:nth-child(odd) > td{
    background-color: #f2f2f2;
}

.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) > td{
    background-color: #e8e9e9;
}

.p-datatable .p-datatable-thead > tr > th {
    padding: 5px;
    text-align: center;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: #343a40;
    background: #f8f9fa;
    transition: box-shadow 0.2s;
}

.p-input-icon-left>i, .p-input-icon-left>.p-icon-wrapper, .p-input-icon-right>i, .p-input-icon-right>.p-icon-wrapper {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
}

.p-tabview .p-tabview-panels {
    background: #ffffff;
    padding: 1.25rem;
    border: 0 none;
    color: #495057;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.p-datatable .p-datatable-header {
    background: #f8f9fa;
    color: #343a40;
    border: 1px solid #dee2e6;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
}

.p-input-icon-left, .p-input-icon-right {
    position: relative;
    display: inline-block;
}

.p-input-icon-left > .p-inputtext {
    padding-left: 2.5rem;
    cursor: pointer;
}

.d-flex {
    display: flex!important;
}

.p-inputtext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #495057;
    background: transparent;
    padding: 0.75rem 0.75rem;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    cursor: pointer;
}


a {
    font-family: sans-serif;
    font-size: 14pt;
    text-align: center;
    padding: 1px 2px;
    text-decoration: none;
    position: relative;
    color: var(--primary);
    transition: all .3s linear;
}

.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: 1px;
    --bs-modal-border-radius: 0.5rem;
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(0.5rem - 1px);
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal--show {
    display: block;
    background-color: #0000009f;
    padding-top: calc(5vh + 50px);
}

.modal-delete .modal-dialog {
    max-width: 400px!important;
}

.modal-header {
    width: 100%;
    padding: 13px 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.modal-body {
    padding: 15px 45px;
}

.button-clean {
    background-color:var(--grey-highlight);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 6px;
    
}
.form-group {
    margin-bottom: 12px;
}

.p-tag{
    width: 80%;
    min-width: 54px;
    color: #ffffff;
    font-size: 12pt;
    padding: 4px 10px;
}

.p-tag.p-tag-success {
    background-color: #22C55E;
    
}

.p-tag.p-tag-danger {
    background-color: #EF4444;
}

.form-control{
    width: 100%;
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #6c757d;
}

.form-group {
    margin-bottom: 12px;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.text-danger {
   color: red;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #ffffff;
    border-color: #EFF6FF;
    color: var(--primary);
}

.p-inputtext{
    padding: 6px;
    color: #6c757d;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #ffffff;
    
}

.p-multiselect{
    width: 100%;
    padding: 6px;
}

.form-control{
    color: #6c757d;
}

.p-inputtext {
    width: 60px;
    color: #6c757d;
    display: inline-flex;
    height: 38px;
}


.p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
    color: var(--primary);
    background: none;
    border: 1px solid var(--primary);
    width: 40px;
    height: 37px;
    margin-top: 2px;
    
}

.generalInput{
    padding-right: 18px;
    padding-left: 5px;
    color: #bfbfbf;
    display: inline-flex;
    flex-direction: column;
    height: 38px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 8px;
    border: 1px solid #bfbfbf;
}

.p-dropdown-panel{
  display: flex;
  flex-direction: column;
}

.p-dropdown-items{
  display: flex;
  flex-direction: column;
}


.btn-clear{
    background-color: #5a5c60;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    margin: 6px;
    cursor: pointer;
}

.minWidthOverride {
    min-width: 250px !important;
  }

.dropdown-apostila{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: none;
    
}

.p-menubar {
    padding: 0.5rem;
    background: #f9fafb;
    color: #4b5563;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.card {
    background: var(--surface-card);
    border: var(--card-border);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.p-menuitem{
  padding:  0 10px;
  
}

.p-menubar-root-list>.p-menuitem-active>p-menubarsub>.p-submenu-list {
    display: block;
    flex-direction: column;
    height: fit-content;
}

.p-menubar .p-submenu-list {
    display: none;
    position: absolute;
    z-index: 2;
}

.p-submenu-list{
  background: red;

}

@layer primeng {
    .p-component,.p-component * {
        box-sizing: border-box
    }

    .p-hidden {
        display: none
    }

    .p-hidden-space {
        visibility: hidden
    }

    .p-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px
    }

    .p-hidden-accessible input,.p-hidden-accessible select {
        transform: scale(0)
    }

    .p-reset {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        text-decoration: none;
        font-size: 100%;
        list-style: none
    }

    .p-disabled,.p-disabled * {
        cursor: default!important;
        pointer-events: none
    }

    .p-component-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    .p-unselectable-text {
        -webkit-user-select: none;
        user-select: none
    }

    .p-scrollbar-measure {
        width: 100px;
        height: 100px;
        overflow: scroll;
        position: absolute;
        top: -9999px
    }

}

.p-menubar .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: var(--secondary-highlight);
}

.p-menu {
    padding: 0.5rem 0;
    background: #ffffff;
    color: #4b5563;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    width: 12.5rem;
  }

  .p-menu-list{
    background-color: white;
  }
  .p-menu .p-menuitem > .p-menuitem-content {
    color: #4b5563;
    background-color: white;
    transition: box-shadow 0.2s;
    border-radius: 0;
  }
  .p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--primary);
    padding: 0.75rem 1.25rem;
    -webkit-user-select: none;
    user-select: none;
}
.p-menubar-root-list>.p-menuitem-active>p-menubarsub>.p-submenu-list {
    display: flex;
    align-items: start;
    width: max-content;
}
  .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: var(--primary);
  }
  .p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    color: var(--primary);
    margin-right: 0.5rem;
}
  .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: #6b7280;
  }
  .p-menu .p-menuitem.p-highlight > .p-menuitem-content {
    color: #1D4ED8;
    background: #EFF6FF;
  }
  .p-menu .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: #1D4ED8;
  }
  .p-menu .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-menuitem-icon,
  .p-menu .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: #1D4ED8;
  }
  .p-menu .p-menuitem.p-highlight.p-focus > .p-menuitem-content {
    background: rgba(59, 130, 246, 0.24);
  }
  .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
    color: #4b5563;
    background: #e5e7eb;
  }
  .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: #4b5563;
  }
  .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-menuitem-icon,
  .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: #4b5563;
  }
  .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    color: #4b5563;
    background: #f3f4f6;
  }
  .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
    color: #4b5563;
  }
  .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-icon,
  .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-submenu-icon {
    color: #6b7280;
  }
  .p-menu.p-menu-overlay {
    background: #ffffff;
    border: 0 none;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  .p-menu .p-submenu-header {
    margin: 0;
    padding: 0.75rem 1.25rem;
    color: var(--primary);
    background: #ffffff;
    font-weight: 700;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .p-menu .p-menuitem-separator {
    border-top: 1px solid #e5e7eb;
    margin: 0.25rem 0;
  }
  .p-menu .p-menuitem-badge {
    background: #3B82F6;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 700;
    min-width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 6px;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .p-menubar {
    padding: 15px 30px;
    background: #f9fafb;
    color: #4b5563;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
  
  }
  .p-menubar .p-menubar-root-list {
    outline: 0 none;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content {
    color: #4b5563;
    transition: box-shadow 0.2s;
    border-radius: 6px;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
    padding: 18px 20px;
    user-select: none;
    background: none;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: var(--primary);
    text-decoration: none;
    font-size: 14pt;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    color: var(--primary);
    margin-right: 0.5rem;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: var(--primary);
    margin-left: 0.5rem;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    color: #4b5563;
    background: #f3f4f6;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
    color: var(--grey-highlight);
    text-decoration: none;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-icon,
  .p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-submenu-icon {
    color: #6b7280;
  }
  .p-menubar .p-menuitem > .p-menuitem-content {
    color: #4b5563;
    transition: box-shadow 0.2s;
    border-radius: 0;
  }
  .p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link {
    color: #4b5563;
    width: fit-content;
    padding: 20px 20px 20px 5px;
    user-select: none;
  }
  .p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: var(--primary);
    display: flex;
    justify-content: center;
    width: max-content;
  }
  .p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    color: var(--primary);
    margin-right: 0.5rem;
  }
  .p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: var(--primary);
  }
  .p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
    color: var(--grey-highlight);
    background: #EFF6FF;
  }
  .p-menubar .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: var(--grey);
  }
  .p-menubar .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-menuitem-icon,
  .p-menubar .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: var(--grey);
  }
  .p-menubar .p-menuitem.p-highlight.p-focus > .p-menuitem-content {
    background: rgba(59, 130, 246, 0.24);
  }
  .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
    color: #4b5563;
    background: #e5e7eb;
  }
  .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: #4b5563;
    text-decoration: none;
  }
  .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-menuitem-icon,
  .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: #4b5563;
    text-decoration: none;
  }
  .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    color: #4b5563;
    background: #f3f4f6;
    text-decoration: none;
  }
  .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
    color: var(--grey-highlight);
    text-decoration: none;
  }
  .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-icon,
  .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-submenu-icon {
    color: var(--grey-highlight);
    text-decoration: none;
   
  }
  .p-menubar .p-submenu-list {
    padding: 0.5rem 0;
    background: #ffffff;
    border: 0 none;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    width: 12.5rem;
  }
  .p-menubar .p-submenu-list .p-menuitem-separator {
    border-top: 1px solid #e5e7eb;
    margin: 0.25rem 0;
  }
  .p-menubar .p-submenu-list .p-submenu-icon {
    font-size: 0.875rem;
  }

  .p-multiselect-items{
    display: flex;
    flex-direction: column;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

app-my-account{
  width: 100%;
}

app-change-password{
  width: 100%;
}

app-forgot-password{
  width:100%
}


  @import url('./assets/css/buttons/buttons.css');
  @import "primeicons/primeicons.css";